@import url(http://fonts.googleapis.com/css?family=Lato|Bitter|Roboto+Slab:300);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


html, body {
	background: #fff;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    margin: 0px;
    
}


.container {
    width: 1170px;
	height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
	color: rgba(0, 0, 0, 0.31);
	font-weight: bold;
	text-shadow: 0 0 rgba(0,0,0,0);
	text-decoration: none;
	outline: none;
}

ul{
    padding-left:0px;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.6);
}

header {
    margin: 0 auto;
    width: 1200px;
    height: 100px;
    position: fixed;
    background-color: white;
    top: 0;
    box-shadow: 0px 40px 30px 0px rgba(255,255,255,1);
}

#projects header, #resume header, #contact header{
    //*background-image: url('../img/transparency.png');
    z-index: 1;*//
}

.content {
    font-family: Roboto Slab, serif;
    font-size: 16px;
    line-height: 1.4;
}


@media (max-width: 750px) {
    .home_content p {
        width:55% !important;
    }
}
@media (max-width: 650px) {
    .home_content p {
        width:45% !important;
    }
}
@media (max-width: 560px) {
    .home_content p {
        width:35% !important;
    }
}
@media (max-width: 560px) {
    .home_content p {
        width:30% !important;
    }
}
@media (max-width: 850px) {
    .content .resume_content {
        width:45%;
    }
}
@media (max-width: 850px) {
    .content .resume_content {
        width:35%;
    }
}
@media (max-width: 650px) {
    .content .resume_content {
        width:90%;
        margin-left:10px;
        position: fixed;
        top: 300px;
    }
}
.footer {
    margin-top: 200px;
    font-size: 12px;
    position: absolute;
    padding-bottom: 20px;
    background: white;
    width: 100%;
}

#about .footer,
#contact .footer{
    position: fixed;
    bottom: 0px;
}

.center {
    text-align: center;

}
.left {
    float: left;
}

.right {
    float: right;
}

.fullWidth {
    width: 1200px;
}

.green {
    color: #22c587;
}

.heavy-text {
    font-weight: bold;
}
/*-------- nav styles ----------*/

.noBullet ul li {
    /**removes bullets from list items**/
    display: inline;
}


@media (max-width: 1230px) {
    .nav {
        position: absolute;
        left: 800px;
    }
}
@media (max-width: 1130px) {
    .nav {
        position: absolute;
        left: 700px;
    }
}
@media (max-width: 1130px) {
    .nav {
        position: absolute;
        left: 600px;
    }
}
@media (max-width: 960px) {
    .nav {
        position: absolute;
        left: -35px;
        top: 60px;
    }
}


.title {
    font-family: Bitter, sans-serif;
    font-size: 42px;
    text-align: left;
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
}

.title a {
    color: black;
    font-weight: normal;
}

.topics {
	text-align: left;
}

.topics a {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 15px;
	padding: 0 0 5px;
	display: inline-block;
	border-bottom: 3px solid rgba(0,0,0,0.25);

}

.topics a:hover,
.topics a:focus,
.topics .active a{
	color: #22c587;
	border-color: #44a2ff;
}

.pageload-link {
	padding: 13px 20px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
	white-space: nowrap;
}

.pageload-link:hover {
	color: #fff;
}

/*-----HOME --------*/
.home_info {
    font-family: Bitter, serif;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 150px;
    padding-left: 50px;
    margin: 0px;
}

.background-img {
    background-image: url("../img/example.jpg");
    height: 100%;
}


/*----Resume ------*/

.anchor {
    display: block;
    position: relative;
    top: -270px;
    visibility: hidden;
}

#resume .content {
    margin-top: 180px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 100px;
}

.resume_topics {
    position: fixed;
    margin-top: 0px;
}

@media (max-width: 650px) {
    .resume_topics {
    top: 250px;
    }
}

.resume_topics li {
    display: block !important;
    margin-bottom: 15px;
}

.resume_topics a {
    color: #44a2ff;
    text-transform: uppercase;
}

#download_res {
    text-align: center;
    margin-top: 60px;
}

.location {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
}

#resume .lead {
    font-size: 20px;
    font-weight: bolder;
}

/* ----- CONTACT ------ */

#contact .content {
    padding-top: 180px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
}
