@import url(http://fonts.googleapis.com/css?family=Lato|Bitter|Roboto+Slab:300);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .pagewrap {
	height: 100%;
}

body {
	background: #fff;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}


.container {
    width: 1170px;
	min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
	color: rgba(0,0,0,0.25);
	font-weight: bold;
	text-shadow: 0 0 rgba(0,0,0,0);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.6);
}

header {
    margin: 0 auto;
    width: 1200px;
    height: 220px;
    position: fixed;
    top: 0;
}

#projects header, #resume header, #contact header{
    background-image: url('../img/transparency.png');
    z-index: 1;
}

.content {
    margin-top: 240px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 100px;
    font-family: Roboto Slab, serif;
    font-size: 16px;
    line-height: 1.4;
}

.footer {
    margin-top: 200px;
    font-size: 12px;
    position: absolute;
    padding-bottom: 20px;
    background: white;
    width: 100%;
}

#about .footer,
#contact .footer{
    position: fixed;
    bottom: 0px;
}

.lead {
    font-size: 20px;
    font-family: Bitter, serif;
    line-height: 1.5;
}

.center {
    text-align: center;

}
.left {
    float: left;
}

.right {
    float: right;
}

.fullWidth {
    width: 1200px;
}

.blue {
    color: #44a2ff;
}

.content a {
    font-family: Bitter, serif;
    font-size: 22px;
    color: black;

}

.content a span {
    width: 740px;
    text-align: center;
}
.content a:hover {
    color: black;
}
/*-------- nav styles ----------*/
.noStyle ul{
    list-style: none;
    margin: 80px 0;
    padding: 0;
    margin-right: 40px;
}

.noStyle ul li {
    display: inline;
}


.title a {
    color: black;
    font-weight: normal;
}

.topics {
	text-align: left;
}

.topics a {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 15px;
	padding: 0 0 5px;
	display: inline-block;
	border-bottom: 3px solid rgba(0,0,0,0.25);

}

.topics a:hover,
.topics a:focus,
.topics .active a{
	color: #22c587;
	border-color: #44a2ff;
}

.pageload-link {
	padding: 13px 20px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 18px;
	white-space: nowrap;
}

.pageload-link:hover {
	color: #fff;
}

/*-----HOME --------*/

#about p {
    position: relative;
    top: 320px;
    width: 700px;
    font-family: Roboto Slab, serif;
    font-size: 16px;
    line-height: 1.4;

}

#about .lead {
    font-size: 20px;
    font-family: Bitter, serif;
    line-height: 1.5;
}

.title {
    font-family: Bitter, sans-serif;
    font-size: 42px;
    text-align: left;
    margin-top: 80px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
}

.home-content {
    font-family: Roboto Slab, serif;
    font-size: 16px;
    line-height: 1.4;
    margin-left: 40% !important;
    padding: 0 !important;
}

.background-img {
    width: 100%;
    position: fixed;
    left: 350px;
    top: 100px;
    background-image: url('../img/bajacar.jpg');
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
    opacity: .1;
}

/*------PROJECTS------*/
.project {
    height: 300px;
    width: 740px;
    overflow: hidden;
    margin-bottom: 40px;
    border: 10px solid #44a2ff;
}

#piloting {
    background-image: url('../img/cessna.jpg');
    background-repeat: no-repeat;
}

#diving {
    background-image: url('../img/scuba.png');
    background-repeat: no-repeat;
}

#baja {
    background-image: url('../img/bajacar.jpg');
    background-repeat: no-repeat;
}

#shooting {
    background-image: url('../img/shooting.png');
    background-repeat: no-repeat;
}

#teehee {
    background-image: url('../img/heart.png');
    /*background-repeat: no-repeat;*/
}

.project p{
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 100px;
}

.project p:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #44a2ff;
}

/*----Resume ------*/

.heading {
    font-size: 20px;
}

.location {
    font-size: 22px;
    font-style: italic;
    font-weight: bolder;
}

#resume .lead {
    font-size: 24px;
    font-weight: bolder;
}


.circle {
    width: 175px;
    height: 175px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: dashed 5px #22c587;
    background-color: rgba(34, 197, 135, 0.3);

    position: fixed;
    left: 1100px;
}

.circle p {
    text-align: center;
    padding-top: 35px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Bitter, serif;
}

.circle a {
    color: black;
}